*.pyc
*.log
node_modules
coverage/
arches_he_data_transformation/logs
arches_he_data_transformation/export_deliverables
arches_he_data_transformation/cantaloupe/*
arches_he_data_transformation/staticfiles
arches_he_data_transformation/media/packages
arches_he_data_transformation/media/build/
arches_he_data_transformation/uploadedfiles/*
arches_he_data_transformation/settings_local.py
webpack-stats.json
.vscode/
*.egg-info
.DS_STORE
CACHE
.tsconfig-paths.json
.frontend-configuration-settings.json
