{% extends "javascript.htm" %}

{% load static %}
{% load l10n %}
{% load i18n %}

{% block arches_translations %}
{{ block.super }}
<div
    class='arches-translations'
    upload-csv-file='{% trans "Upload .csv File" as uploadCsvFile %} "{{ uploadCsvFile|escapejs }}"'
    etl-file-upload-bulk-html-message='{% trans "Upload a CSV of resource IDs to export Bulk HTML reports." as etlBulkHtmlFirst %}{% trans "Ensure the column containing the resource IDs is named resourceinstanceid or resourceid." as etlBulkHtmlSecond %} "{{ etlBulkHtmlFirst|escapejs }}\n{{ etlBulkHtmlSecond|escapejs }}"'
    bulk-html-from-csv-exporter-title='{% trans "Export Bulk HTML Reports" as bulkHtmlFromCsvExporterTitle %} "{{ bulkHtmlFromCsvExporterTitle|escapejs }}"'
    bulk-html-from-csv-exporter-summary='{% trans "Export Bulk HTML Reports Summary" as bulkHtmlFromCsvExporterSummary %} "{{ bulkHtmlFromCsvExporterSummary|escapejs }}"'
    download-bulk-html-zip-file='{% trans "Download exported zip file" as downloadBulkHtmlZipFile %} "{{ downloadBulkHtmlZipFile|escapejs }}"'
    report-resource-type-details='{% trans "Reports have been generated for the following resource types:" as reportResourceTypeDetails %} "{{ reportResourceTypeDetails|escapejs }}"'
    resource-total-exported='{% trans "Total number of resources in this export:" as resourceTotalExported %} "{{ resourceTotalExported|escapejs }}"'
    parsed-resource-ids='{% trans "Parsed Resource IDs" as parsedResourceIds %} "{{ parsedResourceIds|escapejs }}"'
    choose-card='{% trans "Select a data section (card)" as chooseCard %} "{{chooseCard|escapejs}}"'
    choose-node='{% trans "Select the field (node) to auto-populate" as chooseNode %} "{{chooseNode|escapejs}}"'
    nodes-to-build-value='{% trans "Source fields (nodes) used to build the auto-populated value" as nodesToBuildValue %} "{{nodesToBuildValue|escapejs}}"'
    overwrite-existing-values-on-save='{% trans "Replace existing values on save" as overwriteExistingValuesOnSave %} "{{overwriteExistingValuesOnSave|escapejs}}"'
    add-amend-current-configuration='{% trans "Save Configuration" as addAmendCurrentConfiguration %} "{{addAmendCurrentConfiguration|escapejs}}"'
    reset-string-template='{% trans "Clear Auto-fill Pattern" as resetStringTemplate %} "{{resetStringTemplate|escapejs}}"'
    clear-current-configuration='{% trans "Clear Current Configuration" as clearCurrentConfiguration %} "{{clearCurrentConfiguration|escapejs}}"'
    card-containing-nodes-name='{% trans "Selected data section (card)" as cardContainingNodesName %} "{{cardContainingNodesName|escapejs}}"'
    node-to-populate='{% trans "Field (node) to auto-populate" as nodeToPopulate %} "{{nodeToPopulate|escapejs}}"'
    template-of-populating-nodes='{% trans "Auto-fill pattern" as templateOfPopulatingNodes %} "{{templateOfPopulatingNodes|escapejs}}"'
    delete-configuration ='{% trans "Delete configuration" as deleteConfiguration %} "{{deleteConfiguration|escapejs}}"'
    select-for-update='{% trans "Load to edit configuration" as selectForUpdate %} "{{selectForUpdate|escapejs}}"'
    string-template-placeholder='{% trans "Use bracketed field (node) names like this: <node name>" as stringTemplatePlaceholder %} "{{stringTemplatePlaceholder|escapejs}}"'
    help-overview='{% trans "<p>The Automatically Fill a Field Using Other Fields function is triggered when a resource is saved. This removes the need for manual entry of derived or combined values and helps keep your data consistent.</p><p>To set it up, select a data section and the field you want to auto-populate, then define the pattern that determines how the source field values are combined. You can also control whether existing values are replaced when a record is saved.</p>" as helpOverview %} "{{helpOverview|escapejs}}"'
    help-defining-card='{% trans "<strong>Select a data section (card):</strong> Choose the section of the form that contains both the field you want to auto-populate and the source fields whose values will be used to populate it. Only one instance of each section is currently supported." as helpDefiningCard %} "{{helpDefiningCard|escapejs}}"'
    help-defining-node='{% trans "<strong>Select the field (node) to auto-populate:</strong> Choose the specific field within that section that should be automatically filled." as helpDefiningNode %} "{{helpDefiningNode|escapejs}}"'
    help-defining-source-fields='{% trans "<strong>Source fields (nodes) used to build the auto-populated value:</strong> Enter the auto-fill pattern that defines how the source field values should be combined. Field names should be written within angled brackets, e.g., <code>&lt;Field Name&gt;</code>. You can include punctuation or fixed text between them but be aware these elements will stay whether or not the source fields have data in them." as helpDefiningSourceFields %} "{{helpDefiningSourceFields|escapejs}}"'
    help-defining-example='{% trans "An example creating a full name from fields containing Title, First Name and Last Name would be as follows: <code>&lt;Title&gt; &lt;First Name&gt; &lt;Last Name&gt;</code>" as helpDefiningExample %} "{{helpDefiningExample|escapejs}}"'
    help-defining-replace='{% trans "<strong>Replace existing values on save:</strong> If enabled, any existing value in the target field will be replaced each time the record is saved. If disabled, the field will only be populated when it is currently empty." as helpDefiningReplace %} "{{helpDefiningReplace|escapejs}}"'
    help-managing-list='{% trans "Configurations that have already been saved are listed in the table at the bottom of the function panel." as helpManagingList %} "{{helpManagingList|escapejs}}"'
    help-managing-edit='{% trans "You cannot edit a configuration directly in the table. To modify one, click the icon in <strong>Load to edit configuration</strong> to load it back into the top section of this function, make your changes, then save. To remove a configuration entirely, click the <strong>Delete</strong> button." as helpManagingEdit %} "{{helpManagingEdit|escapejs}}"'
    help-overview-title='{% trans "Overview" as helpOverviewTitle %} "{{helpOverviewTitle|escapejs}}"'
    help-defining-title='{% trans "Defining how a field should be auto-filled" as helpDefiningTitle %} "{{helpDefiningTitle|escapejs}}"'
    help-managing-title='{% trans "Managing saved configurations" as helpManagingTitle %} "{{helpManagingTitle|escapejs}}"'
    configurations-table-caption='{% trans "List of auto population configurations" as configurationsTableCaption %} "{{configurationsTableCaption|escapejs}}"'
    help-section-title='{% trans "How to Set Up This Function" as helpSectionTitle %} "{{helpSectionTitle|escapejs}}"'
    configurations-section-title='{% trans "Auto-Fill Configurations Saved Against This Resource Model" as configurationsSectionTitle %} "{{configurationsSectionTitle|escapejs}}"'
    create-edit-configuration-title='{% trans "Create A New Auto-Fill Configuration or Edit an Existing One" as createEditConfigurationTitle %} "{{createEditConfigurationTitle|escapejs}}"'

></div>
{% endblock arches_translations %}