{% extends "javascript.htm" %}

{% load static %}
{% load l10n %}
{% load i18n %}

{% block arches_translations %}
{{ block.super }}
<div
    class='arches-translations'
    upload-csv-file='{% trans "Upload .csv File" as uploadCsvFile %} "{{ uploadCsvFile|escapejs }}"'
    etl-file-upload-bulk-html-message='{% trans "Upload a CSV of resource IDs to export Bulk HTML reports." as etlBulkHtmlFirst %}{% trans "Ensure the column containing the resource IDs is named resourceinstanceid or resourceid." as etlBulkHtmlSecond %} "{{ etlBulkHtmlFirst|escapejs }}\n{{ etlBulkHtmlSecond|escapejs }}"'
    bulk-html-from-csv-exporter-title='{% trans "Export Bulk HTML Reports" as bulkHtmlFromCsvExporterTitle %} "{{ bulkHtmlFromCsvExporterTitle|escapejs }}"'
    bulk-html-from-csv-exporter-summary='{% trans "Export Bulk HTML Reports Summary" as bulkHtmlFromCsvExporterSummary %} "{{ bulkHtmlFromCsvExporterSummary|escapejs }}"'
    download-bulk-html-zip-file='{% trans "Download exported zip file" as downloadBulkHtmlZipFile %} "{{ downloadBulkHtmlZipFile|escapejs }}"'
    report-resource-type-details='{% trans "Reports have been generated for the following resource types:" as reportResourceTypeDetails %} "{{ reportResourceTypeDetails|escapejs }}"'
    resource-total-exported='{% trans "Total number of resources in this export:" as resourceTotalExported %} "{{ resourceTotalExported|escapejs }}"'
    parsed-resource-ids='{% trans "Parsed Resource IDs" as parsedResourceIds %} "{{ parsedResourceIds|escapejs }}"'
    choose-card='{% trans "Choose a card" as chooseCard %} "{{chooseCard|escapejs}}"'
    choose-node='{% trans "Choose the node to populate" as chooseNode %} "{{chooseNode|escapejs}}"'
    nodes-to-build-value='{% trans "Nodes within the chosen card which will populate the target node" as nodesToBuildValue %} "{{nodesToBuildValue|escapejs}}"'
    overwrite-existing-values-on-save='{% trans "Overwrite existing values on save" as overwriteExistingValuesOnSave %} "{{overwriteExistingValuesOnSave|escapejs}}"'
    add-amend-current-configuration='{% trans "Add/Amend Current Configuration" as addAmendCurrentConfiguration %} "{{addAmendCurrentConfiguration|escapejs}}"'
    reset-string-template='{% trans "Reset String Template" as resetStringTemplate %} "{{resetStringTemplate|escapejs}}"'
    clear-current-configuration='{% trans "Clear Current Configuration" as clearCurrentConfiguration %} "{{clearCurrentConfiguration|escapejs}}"'
    card-containing-nodes-name='{% trans "Card containing nodes" as cardContainingNodesName %} "{{cardContainingNodesName|escapejs}}"'
    node-to-populate='{% trans "Node to populate" as nodeToPopulate %} "{{nodeToPopulate|escapejs}}"'
    template-of-populating-nodes='{% trans "Template of autopopulation configuration" as templateOfPopulatingNodes %} "{{templateOfPopulatingNodes|escapejs}}"'
    overwrite-saved-value='{% trans "Overwrite saved value?" as overwriteSavedValue %} "{{overwriteSavedValue|escapejs}}"'
    delete-configuration ='{% trans "Delete configuration" as deleteConfiguration %} "{{deleteConfiguration|escapejs}}"'
    select-for-update='{% trans "Select for update" as selectForUpdate %} "{{selectForUpdate|escapejs}}"'   

></div>
{% endblock arches_translations %}