{% load i18n %}
<div
    class='arches-translations'
    upload-csv-file='{% trans "Upload .csv File" as uploadCsvFile %} "{{ uploadCsvFile|escapejs }}"'
    etl-file-upload-bulk-html-message='{% blocktrans trimmed asvar etlFileUploadBulkHtmlMessage %}Upload a CSV of resource IDs to export Bulk HTML reports.
Ensure the column containing the resource IDs is named resourceinstanceid in lower case.{% endblocktrans %} "{{ etlFileUploadBulkHtmlMessage|escapejs }}"'
    bulk-html-from-csv-exporter-title='{% trans "Export Bulk HTML Reports" as bulkHtmlFromCsvExporterTitle %} "{{ bulkHtmlFromCsvExporterTitle|escapejs }}"'
    bulk-html-from-csv-exporter-summary='{% trans "Export Bulk HTML Reports Summary" as bulkHtmlFromCsvExporterSummary %} "{{ bulkHtmlFromCsvExporterSummary|escapejs }}"'
    download-bulk-html-zip-file='{% trans "Download exported zip file" as downloadBulkHtmlZipFile %} "{{ downloadBulkHtmlZipFile|escapejs }}"'
    report-resource-type-details='{% trans "Reports have been generated for the following resource types:" as reportResourceTypeDetails %} "{{ reportResourceTypeDetails|escapejs }}"'
    resource-total-exported='{% trans "Total number of resources in this export:" as resourceTotalExported %} "{{ resourceTotalExported|escapejs }}"'
    parsed-resource-ids='{% trans "Parsed Resource IDs" as parsedResourceIds %} "{{parsedResourceIds|escapejs }}"'
></div>
