// Start - CSV upload exporter

.etl-manager-container {
    .bulk-html-from-csv-exporter {
        .btn.btn-labeled.btn-primary {
            background-color: #2B4E6D;
        }
        .etl-loading-metadata-key {
            color: inherit;
        }
    }
}

// End - CSV upload exporter

//Start - Autopopulate node from card nodes function

table.table.table-striped.table-bordered.dataTable thead th {
    vertical-align: top;
    text-align: center;
}

// End - Autopopulate node from card nodes function